/* Add CSS Styling */
.odd {
    background-color: #d77888;
    font: Verdana, "DejaVu Sans", sans-serif;
}

#two {
    color: #0000ff;
    font-size: 36px;
}

.odd.three {
    font-size: 24px;
}

#four {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}